In [1]:
a=[1,2,3,4,5]

In [2]:
len(a)

5

In [3]:
a[3]

4

In [4]:
s=0
s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [5]:
s=0

for x in[1,2,3,4,5]:
   s=s+x

s

15

リストの各要素をxという（仮の）名前を付けて取り出す

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
        print(val)

5349
5478
5344
4644
4968
6259

In [11]:
s=0

for x in list_tohoku:
    s+=x
    
s

32042

In [12]:
s/6

5340.333333333333

In [13]:
s/len(list_tohoku)

5340.333333333333

In [15]:
s

32042

sの名前がのこってる

In [18]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

平均を求めている

In [19]:
s

11562

残っていない

In [20]:
list_shikoku = [3148, 2991, 2966, 2457]
s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [21]:
from statistics import*

In [22]:
mean (list_shikoku)

2890.5

In [25]:
a={'Apple':100,'orange':150,'Grape':200}

In [26]:
a['Apple']

100

In [35]:
for x in a:
    print(x)
    print(a[x])

Apple
100
orange
150
Grape
200

In [42]:
s=0
for x in a:
    s +=a[x]
    
s

450

In [43]:
s/len(a)

150.0

In [44]:
a

{'Apple': 100, 'Grape': 200, 'orange': 150}

In [45]:
a.values()

dict_values([100, 150, 200])

In [46]:
mean(a.values())

150

In [47]:
s=0
for x in a.values():
    s+=x
s/len(a)

150.0

In [50]:
s=0
for x in a:
    s+=a[x]
s/len(a)

150.0

In [51]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [52]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [53]:
a=[1,2,3,4,5]

In [55]:
avg=mean(a)

In [56]:
avg

3

In [72]:
a=[1,2,3,4,5]

s=0
for x in a:
    s+=x
    
avg=s/len(a)

s=0
for x in a:
    s+=(x-avg)**2

v=s/len(a)
v**0.5

1.4142135623730951

In [73]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [74]:
a=list(range(1,21))